/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";


.bd-input {
    border: 2px solid #000;
}

.t-muted {
    color: #6f777b
}
.label {
    margin: 0px;
}
.bd-company-prop-group {
    margin-bottom: 30px;
}
.spacer {
    height: 100px
}