// Showing some examples of theming and SCSS modularity
/* You can add variables to this file which can be accessed application wide */

$text-color: #333;
$font-family: 'Arial', sans-serif;
$light-grey: #d3d3d3;
